body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}
header
{
    color: black;
    padding: 50px 20px;
}
header h1
{
    font-size: 2.5 rem;
    margin-bottom: 20px;
}
header p
{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.action-button
{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}
.action-button:hover
{
    background-color: black;
}
