body{
    background-color:rgb(242, 242, 230);
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 10px 20px;
    margin: 10px 10px;
}
header nav ul li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}


header h1{
    text-align: center;
    font-size: 46px;
    margin-top: 20px;
}

header h2{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.section{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.html-div{
    width: 25%;
    padding: 20px;
    border-style: outset;
    border-radius: 10px;
    background-color: white;
    font-size: 24px;
    transition: transform 0.5s;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}
.css-div{
    width: 25%;
    padding: 20px;
    border-style: outset;
    border-radius: 10px;
    background-color: white;
    font-size: 24px;
    transition: transform 0.5s;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}
.javascript-div{
    width: 25%;
    padding: 20px;
    border-style: outset;
    border-radius: 10px;
    background-color: white;
    font-size: 24px;
    transition: transform 0.5s;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

}

.html-div:hover{
   transform: scale(1.1);
}
.css-div:hover{
    transform: scale(1.1);
}
.javascript-div:hover{
    transform: scale(1.1);
}

button{
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
footer p {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.html-desc{
    width: 60%;
    margin: 20px 10px;
    font-size: 20px;
    line-height: 1.6;

}

.css-desc{
    width: 60%;
    margin: 20px 10px;
    font-size: 20px;
    line-height: 1.6;

}

.js-desc{
    width: 60%;
    margin: 20px 10px;
    font-size: 20px;
    line-height: 1.6;

}   

@keyframes animation{
    from{
        opacity: 0;
        width: 0%;
    }
    to{
        opacity: 1;
        width: 25%;
    }
}
